.body-content {
    padding: 0
}

.custom-container {
    margin: auto
}

.search-box input.search-box-text {
    height: 35px
}

.row>div {
    padding: 0 10px
}

.header-menu {
    margin: 0 auto!important
}

.top-menu-custom {
    display: flex;
    padding: 5px 0
}

.top-menu-custom .search-box form {
    margin: 0!important
}

.slider-box .section-title {
    color: white
}

.section-title {
    color: #000;
    text-align: center;
    font-weight: 100
}

.slider-div .row {
    display: flex;
    align-items: stretch
}

.slider-div .col-md-6 {
    padding: 0;
    display: flex;
    align-items: stretch;
    flex-direction: column
}

.slider-box {
    background: linear-gradient(135deg, #2f2d2e, #656060)
}

.slider-div .carousel {
    width: 100%;
    display: flex;
    align-items: center
}

.slider-div .carousel-control {
    top: 50%;
    bottom: auto
}

.slider-div .carousel img {
    width: 200px;
    margin: auto
}

.slider-div .carousel .product-desc {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 10px
}

.featured-products .featured-box {
    padding: 10px;
    box-shadow: inset 0 0 10px #3e3f40;
    text-align: center;
    margin: 10px 0
}

.why-choose {
    background: #f4f4f4;
    padding: 10px 0
}

.about-box {
    padding: 20px 0
}

.about-box .desc {
    padding: 15px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px
}

    .about-box .desc p {
        color: #4e4e4e;
        font-size: 17px;
    }

.about-box .img {
    padding: 10px;
    box-shadow: inset 0 0 10px
}

.scene {
    display: inline-block;
    width: 100%;
    height: 400px;
    perspective: 1200px;
    position: relative
}

.scene:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    /*background: rgba(66, 61, 61, 0.65)*/
}

.scene.quality-1 .display-side {
    background-image: url('/NewArrival/ezgif.com-webp-to-jpg (1).jpg')
}

.scene.quality-2 .display-side {
    background-image: url('/NewArrival/ezgif.com-webp-to-jpg (2).jpg')
}

.scene.quality-3 .display-side {
    background-image: url('/NewArrival/ezgif.com-webp-to-jpg (3).jpg')
}

.scene .display-side {
    background-color: #555;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    transform-style: preserve-3d;
    transform: translateZ(-155px);
    transition: transform 1s
}

.cube.show-front {
    transform: translateZ(-155px) rotateY(0deg)
}

.cube.show-right {
    transform: translateZ(-155px) rotateY(-90deg)
}

.cube.show-back {
    transform: translateZ(-155px) rotateY(-180deg)
}

.cube__face {
    position: absolute;
    display: flex;
    align-items: center;
    width: 70%;
    height: 60%;
    padding: 15px 15px;
    color: #fff;
    top: 20%;
    left: 16%;
    text-align: center;
    backface-visibility: hidden;
}
    .cube__face p {
        color: white;
    }
.cube_title {
    font-size: 30px;
    color: #fff;
    position: relative;
    z-index: 5;
    font-weight: 500;
    margin-top: 320px;
    text-align: center
}

.cube .back h4 {
    font-size: 25px;
    margin-bottom: 20px
}

.cube .right .description p {
    font-size: 17px;
    font-weight: 100
}

.cube .back .description p {
    font-size: 17px;
    font-weight: 100
}

.cube .back a {
    color: #fff;
    background: #3d257c;
    font-size: 18px;
    border-radius: 10px;
    background-color: #3d257c;
    padding: 4% 20%
}

.cube__face.front {
    background: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: rotateY(-90deg) translateX(50%) rotateY(90deg)
}

.cube__face.right {
    background: rgb(49 49 49 / 77%) !important;
    transform: rotateY(0deg) translateX(50%) rotateY(90deg)
}

.cube__face.back {
    background: #ddd;
    color: #000;
    transform: rotateY(90deg) translateX(50%) rotateY(90deg);
    border-bottom: 3px solid #3d257c
}

.announcement {
    padding: 20px;
    background: #f4f4f4;
    box-shadow: inset 0 0 10px 0 #2d2d2d;
    margin: 10px 10px;
    color: #000
}

.announcement marquee {
    font-size: 23px
}

@media(min-width:992px) {
    .custom-container {
        width: 970px
    }
}

@media(min-width:768px) {
    .custom-container {
        width: 750px
    }
}

@media screen and (min-width:1200px) {
    .custom-container {
        width: 1170px
    }
}

.body-content {
    padding: 0
}

.custom-container {
    margin: auto
}

.row>div {
    padding: 0 10px
}

/*a:hover {*/
    /*color: #000000;*/
    /*color: #373131;
}*/

.top-menu-custom {
    display: flex;
    padding: 5px 0
}

.top-menu-custom .search-box form {
    margin: 0!important
}

.section-title {
    color: #283878;
    text-align: center;
    font-weight: bold
}

.slider-div .row {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #2f2d2e, #656060)
}

.slider-div .col-md-6 {
    padding: 0;
    width: 50%
}

.slider-div .carousel {
    width: 100%;
    display: flex;
    align-items: center
}

.slider-div .carousel-control {
    top: 50%;
    bottom: auto
}

.slider-div .carousel img {
    width: 200px;
    margin: auto
}

.slider-div .carousel .product-desc {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 10px
}

.featured-products .row,
.featured-products .row>div {
    display: flex;
    align-items: stretch
}

.featured-products .featured-box {
    padding: 20px;
    box-shadow: inset 0 0 10px #0569be;
    text-align: center;
    margin: 10px 0
}

.why-choose {
    background: #f4f4f4;
    padding: 10px 0
}

.about-box {
    padding: 20px 0
}

.about-box .desc {
    padding: 30px 20px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    font-size: 20px;
    text-align: justify;
    margin-bottom: 5px
}

.about-box .img {
    padding: 10px;
    box-shadow: inset 0 0 10px
}

.about-box .row {
    display: flex;
    align-items: center
}

.why-choose .row {
    display: flex
}

.why-choose .row>div {
    width: 33.33%
}

.scene {
    display: inline-block;
    width: 100%;
    height: 400px;
    perspective: 1200px;
    position: relative
}

.scene.quality-1 .display-side {
    background-image: url('/NewArrival/ezgif.com-webp-to-jpg (1).jpg')
}

.scene.quality-2 .display-side {
    background-image: url('/NewArrival/ezgif.com-webp-to-jpg (2).jpg')
}

.scene.quality-3 .display-side {
    background-image: url('/NewArrival/ezgif.com-webp-to-jpg (3).jpg')
}

.scene .display-side {
    background-color: #555;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

/*.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-155px);
    transition: transform 1s
}

.cube.show-front {
    transform: translateZ(-155px) rotateY(0deg)
}

.cube.show-right {
    transform: translateZ(-155px) rotateY(-90deg)
}

.cube.show-back {
    transform: translateZ(-155px) rotateY(-180deg)
}

.cube__face {
    position: absolute;
    display: flex;
    align-items: center;
    width: 70%;
    height: 60%;
    padding: 15px 30px;
    color: #000;
    top: 15%;
    left: 15%;
    text-align: center;
    backface-visibility: hidden
}

.cube_title {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-top: 320px;
    text-align: center;
    line-height: 30px;
    padding: 0 5px
}

.cube .back h4 {
    font-size: 25px;
    margin-bottom: 20px
}

.cube .right .description p {
    font-size: 17px
}

.cube .back .description p {
    font-size: 17px
}

.cube .back a {
    color: #fff;
    background: #3d257c;
    font-size: 18px;
    border-radius: 10px;
    background-color: #3d257c;
    padding: 4% 20%
}*/

/*.cube__face.front {
    background: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: rotateY(-90deg) translateX(50%) rotateY(90deg)
}
.cube__face.back {
    background: #ddd;
    color: #000;
    transform: rotateY(90deg) translateX(50%) rotateY(90deg);
    border-bottom: 3px solid #3d257c
}*/

.announcement {
    padding: 20px;
    background: #f4f4f4;
    box-shadow: inset 0 0 10px 0 #2d2d2d;
    margin: 10px 10px
}

.announcement marquee {
    font-size: 20px
}

.contact-page .fieldset {
    margin-bottom: 0
}

@media(min-width:1024px) {
    .slider-box .section-title {
        margin: 0
    }
}

@media(max-width:1000px) {
    .header-links-wrapper {
        padding-top: 0;
        padding-bottom: 10px
    }
    .header-logo,
    .search-box form {
        margin-bottom: 10px
    }
    .header-logo h3 {
        margin: 0
    }
    .header-menu {
        margin-bottom: 20px
    }
    .top-menu>li>a {
        min-height: 40px;
        padding: 10px 20px
    }
    .sublist-toggle {
        background-position: top center;
        background-size: 100% 150%;
        padding: 0;
        margin-top: 10px;
        height: 20px
    }
    .sublist .sublist-toggle {
        height: 20px
    }
    .contact-page .inputs label,
    .login-page .inputs label {
        display: inline-block;
        width: 25%;
        margin-right: 20px;
        text-align: left
    }
    .contact-page .inputs input,
    .login-page .inputs input {
        display: inline-block;
        width: 70%
    }
    .inputs label {
        text-align: left
    }
    .registration-page .inputs input[type="checkbox"] {
        margin-top: 5px;
        display: block;
        text-align: left
    }
}

@media(min-width:992px) {
    .custom-container {
        width: 970px
    }
}

@media(min-width:768px) {
    .custom-container {
        width: 750px
    }
}

@media(max-width:768px) {
    .contact-page .inputs label,
    .login-page .inputs label {
        display: block;
        width: 100%;
        text-align: left
    }
    .contact-page .inputs input,
    .login-page .inputs input {
        display: block;
        width: 100%
    }
}

@media(max-width:600px) {
    .why-choose .row,
    .featured-products .row,
    .slider-div .row {
        display: block
    }
    .slider-div .col-md-6,
    .why-choose .row>div {
        width: 100%
    }
    .featured-products .featured-box {
        margin: 10px auto
    }
}

@media screen and (min-width:1200px) {
    .custom-container {
        width: 1170px
    }
}